.header-scroll {
    height: 11%;
    overflow: hidden;
    transition: all 3s;

}
.header-scroll.hidden{
    margin-top: -11vh;
}
.header-scroll > div {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}
.chat-container {
    border-radius: 5px;
    height: 8.5vh;
    flex: 0 0 22vw;
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 0.5vw;
    position: relative;
}