#root{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#root > div,
#root > section{
    height: 100%;
    min-height: -webkit-fill-available;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
