.chat-container {
    height: 10.5vh;
    flex: 0 0 23vw;
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 0.5vw;
}
.chat {
    padding: 0 5%;
    border-radius: 0.5vw;
    width: 95%;
    height: 75%;
    position: relative;
    background: rgb(24,27, 33);
    text-decoration: none;
    box-shadow: 0px 0px 0.15vw 0.15vw rgb(0 0 0);
}
.chat > div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.5vh;
    width: 9.5vh;
    border-radius: 50%;
    background: rgb(24,27, 33);
    box-shadow: 0px 0px 0.5vw 0.12vw rgb(0 0 0 / 80%);
}
.image-container img {
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    filter: drop-shadow(0px 1px 3px rgb(0 0 0));
}
.last-msg {
    color: #dbdada;
    text-decoration: overline;
}
.name-info-container {
    margin-bottom: 0.4vh;
    margin-top: -1vh;
    padding-left: calc(2.5vh + 0.5vw);
}
.info-button {
    height: 2.5vh;
    width: 2.5vh;
    font-size: 1.2vh;
    border-radius: 50%;
}
.info {
    flex: 1;
    font-size: 0.9vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info b {
    color: white;
    vertical-align: bottom;
}
