#root{
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#root > div{
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
#root .type-buttons{
    flex-direction: row;
}
.content-container{
    border-top: 0.6vh solid rgb(24,27, 33);
}
.type-buttons button{
    flex-grow: 1;
}
nav{
    position: fixed;
}
.header-scroll {
    height: 11%;
    overflow: hidden;
    transition: all 3s;

}
.header-scroll.hidden{
    margin-top: -11vh;
}
.header-scroll > div {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow-y: hidden;
}
.image{
    height: 78%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    width: 29%;
    justify-content: center;
    border-right: 1px solid #c2001b;
}
.image img {
    border-radius: 5px;
    width: 5vh;
    height: 5vh;
}

.element-container {
    border-radius: 5px;
    height: 8.5vh;
    flex: 0 0 22vw;
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 0.5vw;
    position: relative;
}
.chat {
    border-radius: 5px;
    width: 95%;
    height: 75%;
    margin-bottom: 5px;
    position: relative;
    border: 1px solid white;
    border-width: 1px 0px;
    background: rgb(24,27, 33);
    box-shadow: 0px 1px rgba(128,128,128,1), 0px 2px rgba(118,118,118,1), 0px 3px rgba(108,108,108,1), 0px 2px rgba(98,98,98,1), 0px 1px rgba(88,88,88,1), 0px 4px rgba(78,78,78,1), 0px 2px 3px -1px rgba(128,128,128,1);
    text-decoration: none;
}
.chat > div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.info {
    width: 71%;
    text-align: center;
}
.info b{
    color: white;
    margin-left: -8%;
}
.content{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.main-container{    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.main-container p{
    margin: auto;
    font-weight: bold;
}
.hide-search{
    padding: 2px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.8);
    background: rgb(24,27, 33);
    border: 0;
}
.chat-container{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.chat,
.users,
.chats{
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.form-container{
    height: 31%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 3s;
}
.form-container.hidden{
    margin-bottom: -31vh;
}
.main-container form {
    height: 38%;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    border-radius: 1px 0px 0px 1px;
}
.form-container form div {
    width: 64%;
}
.form-container form input {
    width: 100%;
    height: 100%;
    border: 0.5px solid #171a20;
    border-radius: 1px 0px 0px 1px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
}
.form-container form button{
    width: 34%;
    flex-grow: 1;
    background: #181b21;
    border: 0;
    color: #c2001b;
    outline: none;
}
@keyframes translate {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(4em, -5em);
    }
}

@-webkit-keyframes translate {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(4em, -5em);
    }
}

@-moz-keyframes translate {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(4em, -5em);
    }
}